* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(179, 217, 250);
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 80%;
  display: flex;
  gap: 4rem;
  font-size: 2rem;
  justify-content: center;
  margin-top: 2rem;
}
nav {
  padding: 0.2rem 3rem;
  background-color: rgb(206, 228, 251);
  border-radius: 7px;
}
#content {
  width: 80%;
  height: fit-content;
}
.homeContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.title {
  height: 7rem;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}
.mainInfo {
  text-align: center;
  height: 10rem;
}
.secondaryInfo {
  height: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hours {
  width: 50%;
  text-align: left;
}
